In [1]:
#01

import pandas as pd
series = pd.Series([5, 10, 15, 20, 25])
print(series[2])

15

In [2]:
#2

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [23, 30, 28],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
print(df['City'])

0       New York
1    Los Angeles
2        Chicago
Name: City, dtype: object

In [3]:
#3

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [23, 30, 28],
    'Salary': [50000, 60000, 70000]
})
df['Gender'] = ['M', 'F', 'M']
print(df)

      Name  Age  Salary Gender
0    Alice   23   50000      M
1      Bob   30   60000      F
2  Charlie   28   70000      M